



@foreach (var adminnameinviewprofile in Model)
{

   
<div class="text-center">
    <h6 class="text-dark text-uppercase">@adminnameinviewprofile.Name</h6>
   
    <span class="text-success">
        @adminnameinviewprofile.NgpRole.RoleName
    </span>
    <br />
    <span>
        @adminnameinviewprofile.Position
    </span>
</div>


}