
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
    <title>
        Ngp Mangement System
    </title>
    <link href="~/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />
    <!--     Fonts and icons     -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/Content/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/Content/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/Content/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.css" rel="stylesheet" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show   bg-gray-100">

    <div class="min-height-300 bg-green position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <div class="mt-2">
           

        </div>

      
        <div class="sidenav-header text-center mb-5 mt-2">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            @{

                Html.RenderAction("DisplayPicNameandRole", "Account");
            }

        </div>

        <hr class="horizontal dark mt-0">

        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            @*Display Profilepicture for developer only*@
            <div class="text-center mt-2 mb-2">

                <div id="dynamicContentContainer"></div>
            </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/Dashboard/Administrator">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Account/Administrator">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fa fa-user text-warning text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">AccountList</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Contractor/Administrator">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1"> Contractor</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Information/Administrator">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-app text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Information</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Dashboard/S">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-bullet-list-67 text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Logs</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidenav-footer mx-3 ">

        </div>
        <div class="card card-plain shadow-none mt-5" id="sidenavCard">

            <div class="card-body text-center p-3 w-100 pt-0">
                <div class="docs-info">
                </div>
            </div>
            <div class="text-center mt-5 " style=" background-color: #edf7ef !important; border-radius: 15px !important; margin:  7.5% !important;">
                <a href="/NgpManagement/logout" target="">
                    <img class="w-20 mx-auto " src="~/DefaultImage/icons8-leave-100.png" alt="" width="100" />
                    <div class="text-center">
                        <span class=" text-bold text-success  fs-6">Logout<i class="fa fa-sign-out-alt ms-2"></i></span>
                    </div>
                </a>
            </div>
        </div>

    </aside>

    <main class="main-content position-relative border-radius-lg ">

        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <h5 class="font-weight-bolder text-white text-uppercase mb-0">National Greening Program Management System</h5>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group">


                        </div>
                    </div>
                    <ul class="navbar-nav  justify-content-end">

                        <li style="cursor: pointer; position: relative; " class="text-white">
                            <a data-bs-toggle="modal" data-bs-target="#maint_modal"><i class="fa fa-cog f-20"></i> </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Users</p>
                                        <h5 class="font-weight-bolder mt-4" id="UserAccountadmincount">
                                        </h5>

                                    </div>
                                </div>

                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Contractors</p>
                                        <h5 class="font-weight-bolder mt-4" id="Contractoradmincount">
                                        </h5>

                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                        <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Logs</p>
                                        <h5 class="font-weight-bolder mt-4" id="Totallogscount">
                                        </h5>

                                    </div>
                                </div>

                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                        <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>

            <script src="~/Scripts/jquery-3.4.1.js"></script>  @*meed this   laging sa taas *@
            @RenderBody()
            <footer class="footer pt-3  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>,
                                Ngp Management System

                            </div>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!--   Core JS Files   -->

    <div class="modal fade" id="maint_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-green">
                    <h5 class="modal-title text-white" id="staticBackdropLabel">MAINTENANCE MODE</h5>
                    <button type="button" class="btn-close bg-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="">
                                    <h6 class="text-black-50 fs-6">
                                        Turn On/Off Maintenance Mode for the National Greening Program Management System
                                    </h6>


                                </div>
                            </div>

                            <form id="maintenanceStatus">
                                <div class="form-group">
                                    <select class="form-control" id="isActive" name="isActive">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <input type="hidden" id="id" name="id">
                                </div>
                                <div class="form-group">
                                    <label for="maintenanceMessage">Maintenance Message</label>
                                    <textarea type="text" id="message" name="message" required
                                              class="form-control" rows="3" style="background: #fff;"></textarea>
                                </div>




                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-md" style="margin: 0 auto;"
                                            id="saveMaintenance">
                                        CONFIRM
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-plugin">
        <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
            <i class="fa fa-cog py-2"> </i>
        </a>
        <div class="card shadow-lg">
            <div class="card-header pb-0 pt-3 ">
                <div class="float-start">
                    <h5 class="mt-3 mb-0">Argon Configurator</h5>
                    <p>See our dashboard options.</p>
                </div>
                <div class="float-end mt-4">
                    <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <!-- End Toggle Button -->
            </div>
            <hr class="horizontal dark my-1">
            <div class="card-body pt-sm-3 pt-0 overflow-auto">
                <!-- Sidebar Backgrounds -->
                <div>
                    <h6 class="mb-0">Sidebar Colors</h6>
                </div>
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <div class="badge-colors my-2 text-start">
                        <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
                    </div>
                </a>
                <!-- Sidenav Type -->
                <div class="mt-3">
                    <h6 class="mb-0">Sidenav Type</h6>
                    <p class="text-sm">Choose between 2 different sidenav types.</p>
                </div>
                <div class="d-flex">
                    <button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
                    <button class="btn bg-gradient-primary w-100 px-3 mb-2" data-class="bg-default" onclick="sidebarType(this)">Dark</button>
                </div>
                <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
                <!-- Navbar Fixed -->
                <div class="d-flex my-3">
                    <h6 class="mb-0">Navbar Fixed</h6>
                    <div class="form-check form-switch ps-0 ms-auto my-auto">
                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
                    </div>
                </div>
                <hr class="horizontal dark my-sm-4">
                <div class="mt-2 mb-5 d-flex">
                    <h6 class="mb-0">Light / Dark</h6>
                    <div class="form-check form-switch ps-0 ms-auto my-auto">
                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
                    </div>
                </div>
                <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/argon-dashboard">Free Download</a>
                <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard">View documentation</a>
                <div class="w-100 text-center">
                    <a class="github-button" href="https://github.com/creativetimofficial/argon-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/argon-dashboard on GitHub">Star</a>
                    <h6 class="mt-3">Thank you for sharing!</h6>
                    <a href="https://twitter.com/intent/tweet?text=Check%20Argon%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fargon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
                        <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/argon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
                        <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/fontawesome-free-5.15.4-web/js/all.js"></script>
    <script src="~/fontawesome-free-5.15.4-web/js/all.min.js"></script>
    <script src="~/Scripts/General.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/argon-dashboard.min.js?v=2.0.4"></script>


    <script>
        $(document).ready(function () {
            $("#maintenanceStatus").validate({
                rules: {
                    message: {
                        required: true,
                    },
                },
                errorClass: "tomerror",
                messages: {
                    message: {
                        required: "Please Input a Message",
                    },
                },
            });
            $('#maintenanceStatus').submit(function (e) {
                e.preventDefault();
                if ($("#maintenanceStatus").valid()) {
                    $('#maint_modal').modal('hide');
                    var id = $(this).attr('data-id');
                    var url = '/api/maintenancemode/getmaintenancemode/' + id;
                    $("#maintenanceStatus").attr('data-id', id);
                    var isActive = $('select[name=isActive]').val();
                    //check true or false
                    if (isActive == 1) {
                        isActive = true;
                    } else {
                        isActive = false;
                    }
                    var message = $('textarea[name=message]').val();
                    // data
                    var data = {
                        isActive: isActive,
                        id: 1,
                        message: message,

                    };
                    $.ajax({
                        type: 'POST',
                        url: '/api/maintenancemode/getmaintenancemode/' + id,
                        data: data,

                        success: function (data) {
                            toastr.success("Status Successfully Changed!");

                            setTimeout(() => {
                                location.reload();

                                /*  $('#saveMaintenance')[0].reset();*/
                            }, 1000);
                        },
                        //if failed
                        error: function (data) {
                            // toastr.info("Success")
                        }
                    });
                }
            });
        });
    </script>


 
    <script>
            $(window).ready(function () {
                TotalCounts();
                //NEED THIS FOR MODAL
                $(document).on('show.bs.modal', '.modal', function () {
                    $(this).appendTo('body');
                });
            });

        </script>
</body>

</html>