<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>National Greening Program Management System</title>
    <link rel="shortcut icon" type="image/png" href="~/lib/modernize/template/src/assets/images/logos/favicon.png" />
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/login-5.css" rel="stylesheet" />
    <link href="~/Content/Login/CustomLoginTemplate.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />
    <link href="~/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()
    <!--  Body Wrapper -->
    @*
        <script src="~/lib/modernize/template/src/assets/libs/jquery/dist/jquery.min.js"></script> *@

    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/modernizr-2.8.3.js"></script>
    <script src="~/js/toastr.js"></script>
    @*    <script src="~/js/general.js"></script> *@
    <script src="~/fontawesome-free-5.15.4-web/js/all.js"></script>
    <script src="~/fontawesome-free-5.15.4-web/js/all.min.js"></script>
    <script src="~/lib/modernize/template/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/modernize/template/src/assets/js/sidebarmenu.js"></script>
    <script src="~/lib/modernize/template/src/assets/js/app.min.js"></script>


</body>
</html>